@import url("http://fonts.googleapis.com/css?family=Lato:300,400,900");

/* RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* BOX MODEL */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

  /* INITIAL */

  body {
    font-family: 'Lato', sans-serif;
    background-image: url('allskymarin.jpeg');
    background-size: cover;
  }

/* NAVBAR */

  .logo {
    width: 20px;
    height: auto;
  }

  .nav {
    height: 55px;
    background-color: white;
    text-transform: uppercase;
    font-weight: 700;
    min-width: 1190px;
  }

  .nav ul {
    display: flex;
    justify-content: space-around;
  }

  .nav li {

    line-height: 55px;
    padding: 0 40px;

  }

  .nav li:hover {
    cursor: pointer;
    background-color: aliceblue;
  }

  .nav li:hover ul.sub_tab {
    display: flex;
  }

  ul.sub_tab {
    display: none;
    position: absolute;
    background-color: white;
    font-size: 14px;
    width: 98vw;
    left: 1%;
    background-color: aliceblue;
  }

  ul.sub_tab li {
    line-height: 40px;
    padding: 15px 15px 10px 10px;
    font-weight: 400;
  }

  ul.sub_tab li:hover {
    background-color: inherit;
    font-weight: 700
  }







/*PARALLAX*/

.parallax {
  height: 100vh;
  width: 100%;
  min-height: 600px;
}

.plax-img {
  height: 94vh;
  background-image: url('parallax.jpg');
  background-attachment: fixed;
  background-position: 25% 25%;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 64px;
  color: white;
  padding-top: 125px;
}
.content {
  padding-left: 300px;
  padding-right: 300px;
}


/* MAIN TITLE */
.inner {

			/*background: rgba(52, 27, 43, 0.8);*/
			color: #fff;
			display: inline-block;

			padding: 3em;
			text-align: center;
      position: absolute;
      top: 150px;
      left: 37%
		}

			 .inner header {
				display: inline-block;
				border-bottom: solid 2px;
				border-top: solid 2px;
				margin: 0 0 2em 0;
				padding: 3px 0 3px 0;
        font-family: 'Norican', cursive;
        /*font-family: 'Pacifico', cursive;*/
        /*font-weight: lighter;*/
			}

				 .inner header h2 {
					border-bottom: solid 2px;
					border-top: solid 2px;
					font-size: 6.5em;
					font-weight: 900;

					margin: 0;
					padding-left: 0.05em;
					position: relative;
          padding: 20px 0;
				}

			 .inner p {
				letter-spacing: 0.1em;
				margin: 0;
				text-transform: uppercase;
			}

				 .inner p a {
					color: inherit;
					font-weight: 400;
					text-decoration: none;
				}

/* CONTENT */
.content {
  /*height: 2000px;*/
  padding-bottom: 300px;
  font-family: "Open Sans", Helvetica, sans-serif;
  text-align: center;
}
